<div>
      <h2>Create Comment</h2>
      <form class="navbar-form navbar-left" role="search" method="POST">
        <div class="form-group">
          <input type="hidden" name="uid" class="form-control" tal:value="session('userid')" value="1" />
          <input type="text" name="content" class="form-control" placeholder="content" />
        </div>
        <div class="form-group">
          <select name="did" class="form-control">
            <option tal:repeat="$descs as $desc" tal:content="$desc->content" tal:value="$desc->id"></option>
          </select>
        </div>
        <button type="submit" class="btn btn-default">Create</button>
      </form>
       <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Username</th>
            <th>Description</th>
            <th>Content</th>
            <th>Time</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr tal:repeat="$comments as $comment">
            <th tal:content="$comment->id" scope="row">1</th>
            <th tal:content="$comment->user->name" scope="row">1</th>
            <td tal:content="$comment->desc->content">Mark</td>
            <td tal:content="$comment->content">Otto</td>
            <td tal:content="date('Y-m-d', $comment->atime)">@mdo</td>
            <td><a tal:href="'/delete/comment/'. $comment->id">DELETE</a></td>
          </tr>
        </tbody>
      </table>
</div>
